body {
  font-family: 'Lato', 'Arial', sans-serif;
}


/****************
Header
****************/

header {
  width: 100%;
}

#name {
  text-align: center;
}

header h1 {
  font-size: 1.75em;
  margin-top: 0;
  padding: 1em;
}

header h2 {
  font-size: 1.25em;
}

nav ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  padding: .25em;
  margin: .5em;
}

a {
  text-decoration: none;
  color: white;
}

/****************
Colors
*****************/

body {
  background-color: #fff;
}

header {
  background-color: #6A9EBA;
  border-color: #2C6786;
}

/*@media only screen and (min-width: 500px) {
  /*header {
    display: flex;
    border-bottom: 6px solid;
  }*/

  /*nav ul {
    display: inline-block;
    color: white;
    float:right;
  }

  nav li {
    display: inline-block;
    border: 1px solid red;
  }

}*/


/*&#9776 burger menu unicode*/
