/****************
Nav
****************/

.main-nav {
  margin: 0;
  padding: 0;
}

.main-nav ul {
  display: none;
  clear: left;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: .25em;
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  text-align: center;
  padding: .25em;
  margin: 0;
  border-bottom: 1px solid #ccc;
}

/****************
Portfolio items
*****************/

#portfolio {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 1em auto;
  text-align: center;
}

#portfolio li {
  /*text-align: center;*/
  /*margin: 0 auto;*/
}

#portfolio img {
  /*border-radius: 14px;*/
  /*box-shadow: 4px 3px 8px #595959;*/
}

.template {
  display: none;
}

@media only screen and (min-width: 550px) {

  .main-header {
    border-bottom: 6px solid #2C6786;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  nav ul {
    background: none;
  }

  .main-header h1 {
    font-size: 2em;
    padding-left: 0;
  }

  .main-header h2 {
    font-size: 1.5em;
  }

  nav a {
    font-size: 1.3em;
  }

  #portfolio {
    display: flex;
  }

  #portfolio li {
    width: 45%;
  }

}
